<div class="text-center signin-main">
  <div class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Please Login to Magic of Books</h1>
    <label class="sr-only">Email address</label>
    <input
      type="email"
      [(ngModel)]="email"
      class="form-control"
      placeholder="Email address"
      required
      autofocus
    />
    <br />
    <label class="sr-only">Password</label>
    <input
      type="password"
      [(ngModel)]="password"
      class="form-control"
      placeholder="Password"
      required
    />
    <div class="mb-3">
      <p>Not have an account, <a routerLink="/sign-up"> Register Now? </a></p>
    </div>
    <div class="mb-3">
      <p>Go to <a routerLink="/home"> Home </a></p>
    </div>
    <button class="btn btn-lg btn-dark btn-block" (click)="login()">
      Login
    </button>
  </div>
</div>
<footer class="py-4 footerBg">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Abhishek Kumar ---- MEAN 2022</p>
  </div>
</footer>
